@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.summary{
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    margin: 2rem;
    border: 2px solid rgb(212, 211, 211);
    border-radius: 0.8rem;
    padding: 1rem;
}
.summary h2{
    color: white;
}